* {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
}

body {
    background-color: rgb(142, 228, 228); 
}

main {
    background-color: white; 
    width: 65em;
    margin: auto;
    padding: 10px;    
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1,5em;
    color:rgb(7, 182, 167);
}

